<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.demo.dao.ITempTableDao">

    <update id="createTempTable">
        CREATE TEMPORARY TABLE ${tableName}(
            id INT NOT NULL AUTO_INCREMENT COMMENT '主键',
            `name` VARCHAR(5) NOT NULL COMMENT '姓名',
            `age` INT NULL COMMENT '年龄',
            PRIMARY KEY (id),
            UNIQUE KEY `ix_name`(`name`)
        ) ENGINE=INNODB DEFAULT CHARSET=utf8
    </update>

    <insert id="insertPerson" parameterType="com.yonyou.demo.bean.PersonBean" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO `person`(id, `name`, age) VALUE(null, #{name}, #{age})
    </insert>

    <update id="updateStudent"  parameterType="com.yonyou.demo.bean.PersonBean">
        UPDATE `person` SET `name`=#{name}, `age`=#{age} WHERE id = #{id}
    </update>

    <select id="selectPerson" resultType="com.yonyou.demo.bean.PersonBean">
        SELECT id, `name`, age FROM person
    </select>
</mapper>
